.section{
    display: grid;
    grid-gap: 23px;
    grid-template-columns: auto auto auto;
}

.loading{
    overflow: hidden;
    padding: 45px 50px;
}
.loading-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
}
.form__content {
    display: grid;
    grid-template-columns: 300px auto;
    min-height: 303px;
}