.subhead-date-text{
    font-size: 12px;
    color: gray;
}
.head-container{
    border-bottom:solid 1px rgb(0, 170, 70);
    justify-content: space-between;
    align-content: center;
    align-items: center;
}


  .head-right-container{
    justify-content: space-between;
  }

  .subhead-container {
    justify-content: space-between;
  }



  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }