/* styling for card */
.card{
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    min-height: 100px;
    margin-bottom: 20px;
}
.card__sub{
    width: 100%;
    height: auto;
}
.card__head{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: solid 3px #2c2d40;
}

/* styling for head */
.head__icon{
    padding-top: 15px;
    color: #E5E8E8;
}
.head__title{
    line-height: 49px;
    color:#7b7da0;
}
.head__option{
    color:#E5E8E8;
    text-decoration: none;
}
.head__option:hover {
    color: #000000;
    text-decoration: none;
}
.head__option:focus {
    outline-style: none;
}

/* styling for modal & dropdown */
.modal__dropdown{
    display: none;
    position: absolute;
    background-color: transparent;
    z-index: 998;
    width: 100%;
    height: 100%;
    top:0;
}
.modal__dropdown-open{
    display: block;
}
.dropdown{
    position: relative;
    width: 126px;
    padding: 10px;
    border: 1px solid black;
    background-color: #232538;
    float: right;
    bottom: -49px;
    right: -1px;
}
.dropdown__list{
    text-decoration: none;
    list-style: none;
    text-align: left;
    font-size: 10px;
    margin-left: 20px;
}
.dropdown__listItem{
    padding-bottom: 5px;
}
.dropdown__listItem:hover{
    background-color: #3498DB;
}
.dropdown__link{
    color:#ffffff!important;
}


