$primary-font-color: black;


//colors
.bg-green{
    background-color:rgb(0, 170, 70);
}
.bg-darkgreen{
  background-color:#28a745;

}
.green{
    color:rgb(0, 170, 70);
}

.white{
    color:#FFFFFF
  }
.light-white{
    color:#EAEDED
  }

.flex {
    display: flex;
    flex-wrap: wrap;
  }
