$primary-font-color: black;

.bg-color{
    color:rgb(0, 170, 70);
}

.title-color{
    color:rgb(0, 170, 70);
}

.text-color{
    color:rgb(0, 170, 70);
}
.flex {
    display: flex;
    flex-wrap: wrap;
  }