$primary-font-color: black;


//colors
.bg-green{
    background-color:rgb(0, 170, 70);
}
.green{
    color:rgb(0, 170, 70);
}

.light-white{
    color:#ECF0F1
  }

.flex {
    display: flex;
    flex-wrap: wrap;
  }
