.sidebar{
    position: fixed;
    top: 0;
    left: -182px;
    z-index: 1;
    display: block;
    width: 181px;
    height: 100%;
    transition: left .2s ease-in;
    +.content {
        transition: margin .2s ease-in;
      }
}
.sidebar--open{
    top: 0;
    left: 0px;
    transition: left .2s ease-in;
    +.content{
        margin: 0 0 0 182px;
        transition: margin .2s ease-in;
    }
}

.sidebar__nav{
    margin:0;
    padding:0;
    width: 182px;
    height: 74px;
    padding:14px 16px 14px 16px;
    border-right: solid 1px white;
}

.sidebar__site-name{
    color:white;
    font-size: 30px;
    line-height: inherit;
    width:inherit;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
.sidebar__site-name:hover {  
    text-decoration: none;
    color: white;
}




.container {
    max-width: inherit;
}

/* Sidebar Styling */
.sidebar__main{
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.sidebar__navList{
    margin: 0 2em 0 0;
    list-style: none;
    padding: 0;
} 
.sidebar__link{
    color: #EAEDED;
    font-weight: 400;
    padding: .375rem .75rem;
    text-align: center;
    font-size: 23px;
    text-decoration: none;
    margin:5px;
    justify-self: center;
}
.sidebar__link:hover {
    color: #212529;
    text-decoration: none;
}
.sidebar__link:focus {
    outline-style: none;;    
}
.sidebar__link-inactive {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
.sidebar__listItem__content{
    position: relative;
    top:-4px;
}
.sidebar__listItem__icon{
    margin-right: 0.2em;
}
