.sidebar{
    position: fixed;
    top: 0;
    left: -182px;
    z-index: 1;
    display: block;
    width: 181px;
    height: 100%;
    transition: left .2s ease-in;
    +.content {
        transition: margin .2s ease-in;
      }
}
.sidebar--open{
    top: 0;
    left: 0px;
    transition: left .2s ease-in;
    +.content{
        margin: 0 0 0 182px;
        transition: margin .2s ease-in;
    }
}

.sidebar__nav{
    padding: 0;
    width: 182px;
    height: 72px;
    padding: 14px 16px 14px 16px;
    border-right: solid 1px white;
    margin: 5px 0;
}





.container {
    max-width: inherit;
}

/* Sidebar Styling */
.sidebar__main{
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.sidebar__navList{
    list-style: none;
    padding: 0;
    text-decoration: none;
} 
.sidebar__link{
    display: block;
    color: #EAEDED;
    font-weight: 400;
    text-align: center;
    font-size: 23px;
    text-decoration: none;
    justify-self: center;
    padding: 30px 0;
}

.sidebar__link:hover {
    background-color: green;
    color: #EAEDED;
    text-decoration: none;
}
.sidebar__link:focus {
    outline-style: none;
}
.sidebar__link-active {
    background-color: green;
    border-left: solid #EAEDED 4px;
}
.sidebar__link-disable {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
.sidebar__listItem__content{
    position: relative;
    top:-4px;
}
.sidebar__listItem__icon{
/* Place holder */
}
.sidebar__logo{
    color:white;
    font-size: 30px;
    line-height: inherit;
    width:inherit;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.sidebar__logo:hover {  
    text-decoration: none;
    color: white;
}

