.navbar {
    position: fixed;
    width:100%;
    z-index:100
}
/* styles for Navbar */
.navbar__main{
    margin: 5px 0;
    width: 100%;
    align-items: center;
}
.navbar__top{
    width: 181px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    padding: 24px 16px 14px 16px;
    border-right: 1px solid #515A5A;
}

.navbar__logo{
    display: inline-block;
    color:white;
    font-size: 30px;
    line-height: inherit;
    width:inherit;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #2f2e4b;
}
.navbar__logo:hover {  
    text-decoration: none;
    color: white;
}

.navbar__dashbord{
    margin-left: auto;    
}
.navbar__navList{
    margin: 0 2em 0 0;
    list-style: none;
    padding: 0;
} 
.navbar__link{
    color: #EAEDED;
    display: inline-block;
    font-weight: 400;
    padding: .375rem .75rem;
    text-align: center;
    font-size: 23px;
    text-decoration: none;
    margin:5px;
    justify-self: center;
}
.navbar__link:hover {
    color: #212529;
    text-decoration: none;
}
.navbar__link:focus {
    outline-style: none;;    
}
.navbar__link-disable {
    pointer-events: none;
    cursor: pointer;
    text-decoration: none;
  }
.navbar__listItem__content{
    position: relative;
    top:-4px;
}
.navbar__listItem__icon{
    margin-right: 0.2em;
}
