.container {
    max-width: inherit;
}

.navbar {
    padding:0;
}

.navbar__site-name{
    color:white;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    text-decoration: none;
}
.navbar__site-name:hover {  
    text-decoration: none;
}


.navbar__list{
    margin-bottom: 0;
    list-style: none;
    padding: 0;
}
 
.navbar__list-item{
    font-size: 23px;
    text-decoration: none;
    margin:5px
}

.navbar__main{
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navbar__time{
    top:-4px;
}