.card{
    text-align: center;
    box-sizing: border-box;
    border: solid #CCD1D1 1px;
    box-shadow: -1px 0px 8px 3px rgba(200,230,205,1);
    border-radius: 5px;
}
.card__container{
    display: grid;
    width: 100%;
    height: auto;
}



.card__chart{
    display: inline-block;
}






/*styling for table*/

.table__head{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: solid 1px #D6DBDF;
}

.table{
    width: 100%;
}
.table__icon{
    padding-top: 15px;
    color: #E5E8E8;
}
.table__title{
    line-height: 49px;
    color:#E5E8E8;
}
.table__option{
    color:#E5E8E8;
    text-decoration: none;
}
.table__option:hover {
    color: #000000;
    text-decoration: none;
}
.table__option:focus {
    color: #000000;
    outline-style: none;
}


.tb__side{
    width: 295px;
}
.table__colmn{
    display: flex;
}
.sideList{
    list-style-type:none;
    text-decoration: none;
}
.sideList__listItem:first-child{
    border-top: none;
    padding:20px 30px;
}
.sideList__listItem{
    border-right: solid 1px #D6DBDF;
    border-top: solid 1px #D6DBDF;
    padding:18.5px 30px;
    text-align: left;
}
.sideList__listItem:last-child{
    border-bottom: solid 1px #D6DBDF;
    padding:20px 30px;
}


.listItem__content{
}
.listItem__title{
margin-right: 30px;
}
.listItem__figures{
    margin-right: 8px;
}
.listItem__variety{
    color: red;
}
.listItem__content{

}
.graph-container{

}

.tb__main{
display: flex;
}

