/* styling for card */
.card{
    text-align: center;
    box-sizing: border-box;
    border: solid #000000 1px;
    border-radius: 5px;
}
.card__container{
    display: grid;
    width: 100%;
    height: auto;
}
.card__chart{
    display: inline-block;
}


/* styling for table */
.table__head{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: solid 1px #000000;
}
.table{
    width: 100%;
}
.table__icon{
    padding-top: 15px;
    color: #E5E8E8;
}
.table__title{
    line-height: 49px;
    color:#7b7da0;
}
.table__option{
    color:#E5E8E8;
    text-decoration: none;
}
.table__option:hover {
    color: #000000;
    text-decoration: none;
}
.table__option:focus {
    color: #000000;
    outline-style: none;
}
.tb__side{
    width: 295px;
}
.table__colmn{
    display: flex;
}
.sideList{
    list-style-type:none;
    text-decoration: none;
}
.sideList__listItem:first-child{
    border-top: none;
    padding:20px 30px;
}
.sideList__listItem{
    border-right: solid 1px #000000;
    border-top: solid 1px #000000;
    padding:18.5px 30px;
    text-align: left;
}
.sideList__listItem:last-child{
    border-bottom: solid 1px #000000;
    padding:20px 30px;
}


.listItem__content{
}
.listItem__title{
    color:#7b7da0;
    margin-right: 30px;
}
.listItem__figures{
    color:#f7f7f8;
    margin-right: 8px;
}
.listItem__variety{
}
.variety-red{
    color: #ff564d;
}
.variety-green{
    color: #22c99e;
}

.listItem__content{

}
.graph-container{

}

.tb__main{
display: flex;
}

